
<div class="text-12" style="margin-top: 9px">
    <span x-show="$store.cartDrawer.missingGoalOne > 0">{{ 'cart.remaining_shipping_and_gift_html' | t }}</span>
    <span x-show="$store.cartDrawer.missingGoalOne <= 0 && $store.cartDrawer.missingGoalTwo > 0">{{ 'cart.free_shipping_remaining_gift_html' | t }}</span>
    <span x-show="$store.cartDrawer.missingGoalOne <= 0 && $store.cartDrawer.missingGoalTwo <= 0">{{ 'cart.free_shipping_and_gift_html' | t }}</span>
  </div>