{% schema %}
  {
    "name": "c/ Link List",
    "blocks": [
      {
        "type": "button",
        "name": "Button",
        "settings": [
          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Button Text"
          }, {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "c/ Link List"
      }
    ]
  }
{% endschema %}

<div class="container mx-auto overflow-x-auto flex py-12 gap-6">
  {% for block in section.blocks %}
    <a href="{{ block.settings.button_link }}" 
    class="min-w-fit w-fit bg-gray-200 
    hover:bg-gray-300 text-black 
    font-bold py-2 px-4 rounded text-nowrap">
      {{ block.settings.button_text }}
    </a>
  {% endfor %}
</div>