
  
  
  <style>
    .gps-489498797383091339 .pointer-events-none{pointer-events:none}.gps-489498797383091339 .pointer-events-auto{pointer-events:auto}.gps-489498797383091339 .relative{position:relative}.gps-489498797383091339 .mx-auto{margin-left:auto;margin-right:auto}.gps-489498797383091339 .mb-0{margin-bottom:0}.gps-489498797383091339 .inline-block{display:inline-block}.gps-489498797383091339 .flex{display:flex}.gps-489498797383091339 .grid{display:grid}.gps-489498797383091339 .h-full{height:100%}.gps-489498797383091339 .w-full{width:100%}.gps-489498797383091339 .max-w-full{max-width:100%}.gps-489498797383091339 .flex-col{flex-direction:column}.gps-489498797383091339 .gap-y-0{row-gap:0}.gps-489498797383091339 .overflow-hidden{overflow:hidden}.gps-489498797383091339 .align-middle{vertical-align:middle}.gps-489498797383091339 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-489498797383091339 .duration-200{transition-duration:.2s}.gps-489498797383091339 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-489498797383091339 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-489498797383091339 .\[\&_p\]\:inline p{display:inline}.gps-489498797383091339 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-489498797383091339 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2laaabe4f64a"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(255, 255, 255)"
        class="i2laaabe4f64a mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2laaabe4f64a relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="w-i2laaabe4f64a"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="w-i2laaabe4f64a mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l1589042fc0 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="i2lefc3b5a091 "
        style="--ta:left;--mt:0px;--ml:0px;--mb:60px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:130%;--size:22px;--size-tablet:25px;--size-mobile:23px;--c:rgb(4, 4, 4);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        CHARLY CHILI ANBAU:
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="i2l9ab3a1a9cc "
        style="--ta:left;--mt:0px;--ml:0px;--mb:4px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:130%;--size:17px;--size-tablet:18px;--size-mobile:16px;--c:rgb(61, 61, 61);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        Schritt 1:
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="i2l342a73384f "
        style="--ta:left;--mt:0px;--ml:0px;--mb:36px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:130%;--size:22px;--size-tablet:25px;--size-mobile:23px;--c:rgb(81, 83, 63);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        Befulle CHARLY CHILI mit ca. 10 Liter Erde. Am besten vermischt du die Erde gleich mit einem BIO Langzeitdunger (z.B. BIO Schafwolldunger).
        </div>
      </div>
    </div><div
    
    role="presentation"
    class="group/image i2le8edd17102"
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagewuasulkwgq.png" data-srcset="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagewuasulkwgq.png 768w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagewuasulkwgq.png 1024w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagewuasulkwgq.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="800" height="533" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--w:100%"
  />
      </div>
    </figure>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-489498797383091339 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=489498797383091339&template_id=489498617816548146)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
