
  
  
      <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:700,400,600&display=swap');
      </style>
    
  <style>
    .gps-489497348049797938 .container{width:100%}.gps-489497348049797938 .pointer-events-none{pointer-events:none}.gps-489497348049797938 .pointer-events-auto{pointer-events:auto}.gps-489497348049797938 .relative{position:relative}.gps-489497348049797938 .mx-auto{margin-left:auto;margin-right:auto}.gps-489497348049797938 .mb-0{margin-bottom:0}.gps-489497348049797938 .inline-block{display:inline-block}.gps-489497348049797938 .flex{display:flex}.gps-489497348049797938 .grid{display:grid}.gps-489497348049797938 .h-full{height:100%}.gps-489497348049797938 .w-full{width:100%}.gps-489497348049797938 .max-w-full{max-width:100%}.gps-489497348049797938 .flex-col{flex-direction:column}.gps-489497348049797938 .gap-y-0{row-gap:0}.gps-489497348049797938 .overflow-hidden{overflow:hidden}.gps-489497348049797938 .align-middle{vertical-align:middle}.gps-489497348049797938 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-489497348049797938 .duration-200{transition-duration:.2s}.gps-489497348049797938 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-489497348049797938 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-489497348049797938 .\[\&_p\]\:inline p{display:inline}.gps-489497348049797938 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-489497348049797938 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g724j10KJ4"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-l);--pr:15px;--pt-mobile:var(--g-s-4xl);--pl-mobile:15px;--pb-mobile:var(--g-s-2xl);--pr-mobile:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFEFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g724j10KJ4 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSlg2fpKMp relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gkGmCimRhy"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:770px;--w-tablet:770px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkGmCimRhy mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gk6k5oO0VS relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)" class="gEhna4__QB ">
      
    <div
      parentTag="Col"
        class="gEhna4__QB "
        style="--ta:center"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:0px;--lh:130%;--size:33px;--size-tablet:33px;--size-mobile:29px;--c:#340304;word-break:break-word"
        >
        <p>Experience quality coffee at home</p>
        </h2>
      </div>
    </div>
      </div>
    <div
      parentTag="Col"
        class="gMyjviHV9X "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#575757;word-break:break-word"
        >
        <p>Drinking quality coffee is a pleasure at any time of the day. Whether it’s an elegant evening or an important business meeting, Classy Plus is your ideal coffee sidekick.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g-3LwBTZVy"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:30px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 6fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-3LwBTZVy mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:1"
      class="gPvGtO8Ngb relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g9gBQtX6oB "
        style="--ta:right;--ta-mobile:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:right;--jc-mobile:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:0px;--lh:150%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#340304;word-break:break-word"
        >
        <p>Wide range selection</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gLS9J73_Ln "
        style="--ta:right;--ta-mobile:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-3xl);--mb-mobile:var(--g-s-2xl)"
      >
      <div class="flex" style="--jc:right;--jc-mobile:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#575757;word-break:break-word"
        >
        <p>You will be spoiled for choice: espresso, lungo, 8 oz, double shot, latte, cappuccino, and macchiato.</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gHrihrjU46 "
        style="--ta:right;--ta-mobile:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:right;--jc-mobile:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:0px;--lh:150%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#340304;word-break:break-word"
        >
        <p>Enhanced versatility</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gX2j1yg0rc "
        style="--ta:right;--ta-mobile:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:var(--g-s-2xl)"
      >
      <div class="flex" style="--jc:right;--jc-mobile:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#575757;word-break:break-word"
        >
        <p>Various options to enjoy your favorite blends. Do you take milk? No problem, there's Classy Plus.</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:0"
      class="gLXJalmZxd relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image g1IJPYZd8b"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:var(--g-s-2xl);--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/cccb5bca-c5b3-41c8-8398-fc08b530ccfe/-/format/auto/-/preview/3000x3000/-/quality/lighter/Featured.png" data-srcset="https://ucarecdn.com/cccb5bca-c5b3-41c8-8398-fc08b530ccfe/-/format/auto/-/preview/3000x3000/-/quality/lighter/Featured.png 768w,https://ucarecdn.com/cccb5bca-c5b3-41c8-8398-fc08b530ccfe/-/format/auto/-/preview/3000x3000/-/quality/lighter/Featured.png 1024w,https://ucarecdn.com/cccb5bca-c5b3-41c8-8398-fc08b530ccfe/-/format/auto/-/preview/3000x3000/-/quality/lighter/Featured.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1140" height="1024" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:1140/1024;--aspect-tablet:1140/1024;--aspect-mobile:1140/1024;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:2"
      class="g5bICg_qPE relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="guohm4rJ6k "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:0px;--lh:150%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#340304;word-break:break-word"
        >
        <p>Double Shot function</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gkWi67Io2K "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-3xl);--mb-mobile:var(--g-s-2xl)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#575757;word-break:break-word"
        >
        <p>For those who need an extra push to start the day, there is the "Double Shot" espresso.</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gwU9sza3zc "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:0px;--lh:150%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#340304;word-break:break-word"
        >
        <p>Handy and practical</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gKicFHIQyI "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#575757;word-break:break-word"
        >
        <p>Adjustable heights to manage coffee and milk preparation and a removable used capsule container.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-489497348049797938 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=489497348049797938&template_id=489497229451592498)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
