
  
  
      <style>
        @font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVQ.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4gaVQ.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSymu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* hebrew */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS2mu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSymu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* hebrew */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS2mu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-489506237155705650 .blur{--tw-blur: ;--tw-brightness: ;--tw-contrast: ;--tw-grayscale: ;--tw-hue-rotate: ;--tw-invert: ;--tw-saturate: ;--tw-sepia: ;--tw-drop-shadow: }.gps-489506237155705650 .pointer-events-none{pointer-events:none}.gps-489506237155705650 .pointer-events-auto{pointer-events:auto}.gps-489506237155705650 .invisible{visibility:hidden}.gps-489506237155705650 .absolute{position:absolute}.gps-489506237155705650 .relative{position:relative}.gps-489506237155705650 .z-1{z-index:1}.gps-489506237155705650 .mx-auto{margin-left:auto;margin-right:auto}.gps-489506237155705650 .mb-0{margin-bottom:0}.gps-489506237155705650 .inline-block{display:inline-block}.gps-489506237155705650 .flex{display:flex}.gps-489506237155705650 .inline-flex{display:inline-flex}.gps-489506237155705650 .grid{display:grid}.gps-489506237155705650 .\!hidden{display:none!important}.gps-489506237155705650 .h-5{height:20px}.gps-489506237155705650 .h-full{height:100%}.gps-489506237155705650 .w-5{width:20px}.gps-489506237155705650 .w-full{width:100%}.gps-489506237155705650 .w-max{width:-moz-max-content;width:max-content}.gps-489506237155705650 .min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-489506237155705650 .\!max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-489506237155705650 .max-w-full{max-width:100%}.gps-489506237155705650 .flex-1{flex:1 1 0%}@keyframes spin{to{transform:rotate(1turn)}}.gps-489506237155705650 .animate-spin{animation:spin 1s linear infinite}.gps-489506237155705650 .flex-col{flex-direction:column}.gps-489506237155705650 .flex-wrap{flex-wrap:wrap}.gps-489506237155705650 .items-center{align-items:center}.gps-489506237155705650 .justify-center{justify-content:center}.gps-489506237155705650 .gap-y-0{row-gap:0}.gps-489506237155705650 .overflow-hidden{overflow:hidden}.gps-489506237155705650 .break-words{overflow-wrap:break-word}.gps-489506237155705650 .rounded{border-radius:4px}.gps-489506237155705650 .rounded-none{border-radius:0}.gps-489506237155705650 .border{border-width:1px}.gps-489506237155705650 .text-center{text-align:center}.gps-489506237155705650 .align-middle{vertical-align:middle}.gps-489506237155705650 .italic{font-style:italic}.gps-489506237155705650 .text-g-text-3{color:var(--g-c-text-3)}.gps-489506237155705650 .no-underline{text-decoration-line:none}.gps-489506237155705650 .opacity-25{opacity:.25}.gps-489506237155705650 .opacity-75{opacity:.75}.gps-489506237155705650 .blur{--tw-blur:blur(8px);filter:var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)}.gps-489506237155705650 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-489506237155705650 .duration-200{transition-duration:.2s}.gps-489506237155705650 .duration-300{transition-duration:.3s}.gps-489506237155705650 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-489506237155705650 .disabled\:btn-disabled:disabled{cursor:default}.gps-489506237155705650 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-489506237155705650 .disabled\:opacity-30:disabled{opacity:.3}.gps-489506237155705650 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-489506237155705650 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-489506237155705650 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-489506237155705650 .\[\&_p\]\:inline p{display:inline}.gps-489506237155705650 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-489506237155705650 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-489506237155705650 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gwBhdhLPzP"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwBhdhLPzP mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gXz5gzu5gh relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gfZo0TTe7k"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--left:0px;--op:100%;--pos:absolute;--radius:var(--g-radius-none);--mb:var(--g-s-l);--top:0px;--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/069a085a-630f-43f0-9abf-770d9868d5dd/-/format/auto/" data-srcset="https://ucarecdn.com/069a085a-630f-43f0-9abf-770d9868d5dd/-/format/auto/ 768w,https://ucarecdn.com/069a085a-630f-43f0-9abf-770d9868d5dd/-/format/auto/ 1024w,https://ucarecdn.com/069a085a-630f-43f0-9abf-770d9868d5dd/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="202" height="286" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:202/286;--aspect-tablet:202/286;--aspect-mobile:202/286;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div><div
    
    role="presentation"
    class="group/image gwJqmJpXZo"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pos:absolute;--right:0px;--radius:var(--g-radius-none);--mb:var(--g-s-l);--top:0px;--z:1;--z-tablet:1;--ta:right"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/388d15eb-a86b-4c9c-bab1-ae478a3aafbf/-/format/auto/" data-srcset="https://ucarecdn.com/388d15eb-a86b-4c9c-bab1-ae478a3aafbf/-/format/auto/ 768w,https://ucarecdn.com/388d15eb-a86b-4c9c-bab1-ae478a3aafbf/-/format/auto/ 1024w,https://ucarecdn.com/388d15eb-a86b-4c9c-bab1-ae478a3aafbf/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="282" height="243" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:282/243;--aspect-tablet:282/243;--aspect-mobile:282/243;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
      
      
    <div
      parentTag="Col" id="gVkuxo0X5S"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:62px;--pl:0px;--pb:0px;--mb-mobile:0px;--pt-mobile:var(--g-s-2xl);--pl-mobile:0px;--pb-mobile:0px;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FDF0DA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVkuxo0X5S mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gTUwCEq12Q relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gE88AELPIm"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pl:15px;--pr:15px;--mb-tablet:var(--g-s-3xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gE88AELPIm mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gszSmHJ5Ed relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gsT-TYrNkE"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--ml:auto;--mb:0px;--mr:0px;--pl:44px;--pr:44px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--ml-tablet:auto;--mb-tablet:0px;--mr-tablet:auto;--pl-tablet:0px;--pr-tablet:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:570px;--w-tablet:570px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gsT-TYrNkE mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYijNdUlfQ relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gooBsX_szE"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl);--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;--w:313px;--w-tablet:313px;--w-mobile:313px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/2535e5a5-01bc-402e-a22b-8dad901f3f99/-/format/auto/" data-srcset="https://ucarecdn.com/2535e5a5-01bc-402e-a22b-8dad901f3f99/-/format/auto/ 768w,https://ucarecdn.com/2535e5a5-01bc-402e-a22b-8dad901f3f99/-/format/auto/ 1024w,https://ucarecdn.com/2535e5a5-01bc-402e-a22b-8dad901f3f99/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="314" height="93" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:314/93;--aspect-tablet:314/93;--aspect-mobile:314/93;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl)" class="gpMZn8r1cC ">
      
    <div
      parentTag="Col"
        class="gpMZn8r1cC "
        style="--ta:center"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:0px;--lh:130%;--size:48px;--size-tablet:48px;--size-mobile:35px;--c:#F36439;word-break:break-word"
        >
        <p>Turn Thanksgiving to Thanksbrewing</p>
        </h2>
      </div>
    </div>
      </div>
    <div
      parentTag="Col"
        class="gs_4CY1r-h "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#F36439;word-break:break-word"
        >
        <p><span style="color:#912A25;"><strong>Hurry up!</strong></span> The sale ends once the timer hits zero</p>
        </div>
      </div>
    </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl)" class="gfnk3QUfLR ">
      
    <gp-countdown-timer
     class="flex "
     gp-data='{"behaviour":"daily","dateStandard":1695354962656,"dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hrs","minuteLabel":"Mins","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"Secs","timeZone":"UTC+7","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1694760962656,"hours":3,"mins":0,"startTime":1694750162656},"weekLabel":"Weeks","uid":"gfnk3QUfLR","builderData":{"advanced":{"border":{"border":"solid","borderType":"none","borderWidth":"0px","color":"#121212","isCustom":true,"width":"0px"},"boxShadow":{"angle":90,"blur":"12px","color":"rgba(0, 0, 0, 0.20)","distance":"4px","spread":"0px","type":"shadow-1"},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":false,"op":{"desktop":"100%"},"rounded":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"},"spacing-setting":{"desktop":{"margin":{"bottom":"var(--g-s-2xl)"}}}},"label":"Countdown Timer","settings":{"behaviour":"daily","dateStandard":1695354962656,"dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hrs","minuteLabel":"Mins","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"Secs","timeZone":"UTC+7","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1694760962656,"hours":3,"mins":0,"startTime":1694750162656},"weekLabel":"Weeks"},"styles":{"backgroundItemColor":"#FFFFFF","borderState":{"normal":{"border":"none","borderType":"none","color":"transparent","isCustom":false,"width":"0px"}},"colorLabel":"text-1","colorNumber":"text-2","horizontalGap":"16px","itemPadding":{"custom":{"desktop":{"horizontal":"24px","vertical":"8px"},"mobile":{"horizontal":"21px","vertical":"7px"}}},"labelTypo":{"attrs":{"color":"#B4B4B4"},"custom":{"fontFamily":"Open Sans","fontSize":{"desktop":"13px","mobile":"12px","tablet":"13px"},"fontStyle":"normal","fontVariants":["300","regular","500","600","700","800","300italic","italic","500italic","600italic","700italic","800italic"],"fontWeight":"400","letterSpacing":"0px","lineHeight":"150%"},"type":"paragraph-1"},"numTypo":{"attrs":{"color":"#912A25"},"custom":{"fontFamily":"Open Sans","fontSize":{"desktop":"28px","mobile":"24px","tablet":"28px"},"fontStyle":"normal","fontVariants":["300","regular","500","600","700","800","300italic","italic","500italic","600italic","700italic","800italic"],"fontWeight":"700","letterSpacing":"0px","lineHeight":"130%"},"type":"heading-2"},"roundedState":{"normal":{"bblr":"6px","bbrr":"6px","btlr":"6px","btrr":"6px","radiusType":"custom"}},"textAlign":{"desktop":"center"},"verticalGap":"0px"},"tag":"Countdown","uid":"gfnk3QUfLR","childrens":[],"type":"component"}}'
     style="--jc:center"
     >
      <div id="section-countdown" class="flex flex-wrap w-max !hidden" style="gap:16px;--jc:center">
           
          
    <div
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:21px;--pr-mobile:21px;--pt-mobile:7px;--pb-mobile:7px;--bs:none;--bw:0px;--bc:transparent;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--bg:#FFFFFF"
    class="flex-1 text-center min-w-max !max-w-max">
    
    <div
      id="day"
        class=" "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:0px;--lh:130%;--size:28px;--size-tablet:28px;--size-mobile:24px;--c:#912A25;word-break:break-word"
        >
        00
        </div>
      </div>
    </div>
    
    <div
      
        class=" "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#B4B4B4;word-break:break-word"
        >
        Days
        </div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:21px;--pr-mobile:21px;--pt-mobile:7px;--pb-mobile:7px;--bs:none;--bw:0px;--bc:transparent;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--bg:#FFFFFF"
    class="flex-1 text-center min-w-max !max-w-max">
    
    <div
      id="hour"
        class=" "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:0px;--lh:130%;--size:28px;--size-tablet:28px;--size-mobile:24px;--c:#912A25;word-break:break-word"
        >
        00
        </div>
      </div>
    </div>
    
    <div
      
        class=" "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#B4B4B4;word-break:break-word"
        >
        Hrs
        </div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:21px;--pr-mobile:21px;--pt-mobile:7px;--pb-mobile:7px;--bs:none;--bw:0px;--bc:transparent;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--bg:#FFFFFF"
    class="flex-1 text-center min-w-max !max-w-max">
    
    <div
      id="minute"
        class=" "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:0px;--lh:130%;--size:28px;--size-tablet:28px;--size-mobile:24px;--c:#912A25;word-break:break-word"
        >
        00
        </div>
      </div>
    </div>
    
    <div
      
        class=" "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#B4B4B4;word-break:break-word"
        >
        Mins
        </div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:21px;--pr-mobile:21px;--pt-mobile:7px;--pb-mobile:7px;--bs:none;--bw:0px;--bc:transparent;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--bg:#FFFFFF"
    class="flex-1 text-center min-w-max !max-w-max">
    
    <div
      id="second"
        class=" "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:0px;--lh:130%;--size:28px;--size-tablet:28px;--size-mobile:24px;--c:#912A25;word-break:break-word"
        >
        00
        </div>
      </div>
    </div>
    
    <div
      
        class=" "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#B4B4B4;word-break:break-word"
        >
        Secs
        </div>
      </div>
    </div>
    </div>
    
      </div>
     </gp-countdown-timer>
     <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-countdown.js" defer="defer"></script>
  
      </div><div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:left"
    class=""
  >
    <style>
    .gLQRJeM4gw.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
    }

    .gLQRJeM4gw:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="gLQRJeM4gw" aria-label="Get 30% OFF | Buy Now"
      data-state="idle"
      class="gLQRJeM4gw gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none text-g-text-3"
      style="--hvr-bg:#DA351E;--bg:#F27A1F;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--shadow:none;--c:var(--g-c-text-3, text-3);--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:0px;--lh:130%;--size:23px;--size-tablet:23px;--size-mobile:20px"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        Get 30% OFF | Buy Now
      </span>
    </button>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gU5dDFlad5 relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gNK9sULUGh"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/55cbc0e7-e03a-4594-a64e-ae03f467fcbf/-/format/auto/" data-srcset="https://ucarecdn.com/55cbc0e7-e03a-4594-a64e-ae03f467fcbf/-/format/auto/ 768w,https://ucarecdn.com/55cbc0e7-e03a-4594-a64e-ae03f467fcbf/-/format/auto/ 1024w,https://ucarecdn.com/55cbc0e7-e03a-4594-a64e-ae03f467fcbf/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1098" height="876" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:1098/876;--aspect-tablet:1098/876;--aspect-mobile:1098/876;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-489506237155705650 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=489506237155705650&template_id=489506193853645963)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
