
  
  
  <style>
    .gps-489498797903185035 .-rotate-90,.gps-489498797903185035 .rotate-180,.gps-489498797903185035 .rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-489498797903185035 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-489498797903185035 .relative{position:relative}.gps-489498797903185035 .mx-auto{margin-left:auto;margin-right:auto}.gps-489498797903185035 .mb-0{margin-bottom:0}.gps-489498797903185035 .flex{display:flex}.gps-489498797903185035 .inline-flex{display:inline-flex}.gps-489498797903185035 .grid{display:grid}.gps-489498797903185035 .hidden{display:none}.gps-489498797903185035 .h-6{height:24px}.gps-489498797903185035 .w-6{width:24px}.gps-489498797903185035 .w-full{width:100%}.gps-489498797903185035 .max-w-full{max-width:100%}.gps-489498797903185035 .-rotate-90{--tw-rotate:-90deg}.gps-489498797903185035 .-rotate-90,.gps-489498797903185035 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-489498797903185035 .rotate-180{--tw-rotate:180deg}.gps-489498797903185035 .rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-489498797903185035 .cursor-pointer{cursor:pointer}.gps-489498797903185035 .flex-col{flex-direction:column}.gps-489498797903185035 .items-center{align-items:center}.gps-489498797903185035 .justify-center{justify-content:center}.gps-489498797903185035 .gap-y-0{row-gap:0}.gps-489498797903185035 .overflow-hidden{overflow:hidden}.gps-489498797903185035 .overflow-clip{overflow:clip}.gps-489498797903185035 .border{border-width:1px}.gps-489498797903185035 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-489498797903185035 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-489498797903185035 .duration-200{transition-duration:.2s}.gps-489498797903185035 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-489498797903185035 .\[\&\>svg\]\:h-auto>svg{height:auto}.gps-489498797903185035 .\[\&\>svg\]\:w-full>svg{width:100%}.gps-489498797903185035 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-489498797903185035 .\[\&_p\]\:inline p{display:inline}.gps-489498797903185035 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-489498797903185035 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2l70b389b5b2"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(253, 253, 253)"
        class="i2l70b389b5b2 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2l70b389b5b2 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="w-i2l70b389b5b2"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="w-i2l70b389b5b2 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l0af657c71f relative flex flex-col"
    >
      <div style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px" class="i2l869de404e3 ">
      
    <gp-accordion
     uid="i2l869de404e3"
      class="flex w-full flex-col "
      style="--gg:16px;--bgr:function repeat() { [native code] }"
      gp-data='{"setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1","expanded":true,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px"}},"iconCollapse":"\n          <svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" classname=\"w-6 h-6\" viewBox=\"0 0 512 512\" fill=\"currentColor\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z\"></path></svg>\n          ","iconExpand":"\n          <svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" classname=\"w-6 h-6\" viewBox=\"0 0 512 512\" fill=\"currentColor\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"m231.904 155.52 -153.472 175.392c-18.112 20.704 -3.392 53.088 24.096 53.088h306.944a32 32 0 0 0 24.096 -53.088l-153.472 -175.36a32 32 0 0 0 -48.192 0z\"></path></svg>","iconCollapseSize":16,"layoutHeader":"text-only","expandedMode":"multiple","configIconSize":16,"parentUid":"i2l869de404e3","childListNumber":[]},"styles":{"bgColor":{"normal":"transparent","hover":"transparent","active":"transparent"},"color":{"normal":"rgb(2, 2, 2)"},"headerBorder":{"normal":{"border":"solid","width":"0px 0px 1px 0px","position":"bottom","color":"#121212","isCustom":true,"borderWidth":"1px"},"hover":{"border":"solid","width":"0px 0px 1px 0px","position":"bottom","color":"#121212","isCustom":true,"borderWidth":"1px"},"active":{"border":"solid","width":"0px 0px 1px 0px","position":"bottom","color":"#121212","isCustom":true,"borderWidth":"1px"}},"textColor":{"normal":"rgb(2, 2, 2)"},"iconColor":{"normal":"#121212","hover":"#121212","active":"#121212"},"contentSizePadding":{"desktop":{"padding":{"type":"medium","top":"8px","left":"24px","bottom":"8px","right":"24px"},"gap":"16px"}},"headerContentPadding":{"desktop":{"padding":{"type":"medium","top":"8px","left":"24px","bottom":"8px","right":"24px"}}},"widthHeightSize":{"desktop":{"height":"auto","width":"1090px"}}},"uid":"i2l869de404e3"}'
    >
    <div class="hidden rotate-90 -rotate-90 rotate-180"></div>
    <div
                class="flex"
                style="--jc:center"
              >
                
  <div class="overflow-clip" style="--w:1090px;--w-tablet:1090px;--w-mobile:1090px;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bg:transparent;--shadow:none">
    <div
      data-index="0"
      class="i2l869de404e3 gp-accordion-item overflow-hidden"
    >
      <div
        aria-hidden
        data-index="0"
        class="i2l869de404e3 gp-accordion-item-i2l869de404e3-0 flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--hvr-bgc:transparent;--c:rgb(2, 2, 2);--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-i2l869de404e3-0:hover { 
              .gp-collapsible-icon { 
                  color: undefined 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="inline-flex">
        <span
            style="--c:rgb(2, 2, 2);width:16px;height:16px"
            data-index="0"
            class="i2l869de404e3 gp-accordion-item_icon gp-collapsible-icon inline-flex items-center justify-center overflow-hidden transition-all duration-200 [&>svg]:h-auto [&>svg]:w-full"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>
          
        </div>
      <div class="flex items-center w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:130%;--size:19px;--size-tablet:18px;--size-mobile:16px;word-break:break-word"
        >
        Wie funktioniert das Anpflanzen in CHARLY CHILI?
        </span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="i2l819a1e676a"
        data-index="0"
        class="i2l869de404e3 gp-accordion-item_body hidden"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px"
      >
        <div
      label="Block" tag="Col" type="component"
      style=""
      class="accordion_item-col-i2l819a1e676a relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="accordion-item-body-text-i2l819a1e676a "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(2, 2, 2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
    </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="flex"
                style="--jc:center"
              >
                
  <div class="overflow-clip" style="--w:1090px;--w-tablet:1090px;--w-mobile:1090px;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bg:transparent;--shadow:none">
    <div
      data-index="1"
      class="i2l869de404e3 gp-accordion-item overflow-hidden"
    >
      <div
        aria-hidden
        data-index="1"
        class="i2l869de404e3 gp-accordion-item-i2l869de404e3-1 flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--hvr-bgc:transparent;--c:rgb(2, 2, 2);--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-i2l869de404e3-1:hover { 
              .gp-collapsible-icon { 
                  color: undefined 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="inline-flex">
        <span
            style="--c:rgb(2, 2, 2);width:16px;height:16px"
            data-index="1"
            class="i2l869de404e3 gp-accordion-item_icon gp-collapsible-icon inline-flex items-center justify-center overflow-hidden transition-all duration-200 [&>svg]:h-auto [&>svg]:w-full"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>
          
        </div>
      <div class="flex items-center w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:130%;--size:19px;--size-tablet:18px;--size-mobile:16px;word-break:break-word"
        >
        Welche Abmessung hat CHARLY CHILI?
        </span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="i2l180d989633"
        data-index="1"
        class="i2l869de404e3 gp-accordion-item_body hidden"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px"
      >
        <div
      label="Block" tag="Col" type="component"
      style=""
      class="accordion_item-col-i2l180d989633 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="accordion-item-body-text-i2l180d989633 "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(2, 2, 2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
    </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="flex"
                style="--jc:center"
              >
                
  <div class="overflow-clip" style="--w:1090px;--w-tablet:1090px;--w-mobile:1090px;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bg:transparent;--shadow:none">
    <div
      data-index="2"
      class="i2l869de404e3 gp-accordion-item overflow-hidden"
    >
      <div
        aria-hidden
        data-index="2"
        class="i2l869de404e3 gp-accordion-item-i2l869de404e3-2 flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--hvr-bgc:transparent;--c:rgb(2, 2, 2);--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-i2l869de404e3-2:hover { 
              .gp-collapsible-icon { 
                  color: undefined 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="inline-flex">
        <span
            style="--c:rgb(2, 2, 2);width:16px;height:16px"
            data-index="2"
            class="i2l869de404e3 gp-accordion-item_icon gp-collapsible-icon inline-flex items-center justify-center overflow-hidden transition-all duration-200 [&>svg]:h-auto [&>svg]:w-full"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>
          
        </div>
      <div class="flex items-center w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:130%;--size:19px;--size-tablet:18px;--size-mobile:16px;word-break:break-word"
        >
        Wo ist der beste Standort fur CHARLY CHILI?
        </span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="i2le3a62edccc"
        data-index="2"
        class="i2l869de404e3 gp-accordion-item_body hidden"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px"
      >
        <div
      label="Block" tag="Col" type="component"
      style=""
      class="accordion_item-col-i2le3a62edccc relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="accordion-item-body-text-i2le3a62edccc "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(2, 2, 2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
    </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="flex"
                style="--jc:center"
              >
                
  <div class="overflow-clip" style="--w:1090px;--w-tablet:1090px;--w-mobile:1090px;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bg:transparent;--shadow:none">
    <div
      data-index="3"
      class="i2l869de404e3 gp-accordion-item overflow-hidden"
    >
      <div
        aria-hidden
        data-index="3"
        class="i2l869de404e3 gp-accordion-item-i2l869de404e3-3 flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--hvr-bgc:transparent;--c:rgb(2, 2, 2);--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-i2l869de404e3-3:hover { 
              .gp-collapsible-icon { 
                  color: undefined 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="inline-flex">
        <span
            style="--c:rgb(2, 2, 2);width:16px;height:16px"
            data-index="3"
            class="i2l869de404e3 gp-accordion-item_icon gp-collapsible-icon inline-flex items-center justify-center overflow-hidden transition-all duration-200 [&>svg]:h-auto [&>svg]:w-full"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>
          
        </div>
      <div class="flex items-center w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:130%;--size:19px;--size-tablet:18px;--size-mobile:16px;word-break:break-word"
        >
        Welche Erde soll ich verwenden?
        </span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="i2l7d81c28a3c"
        data-index="3"
        class="i2l869de404e3 gp-accordion-item_body hidden"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px"
      >
        <div
      label="Block" tag="Col" type="component"
      style=""
      class="accordion_item-col-i2l7d81c28a3c relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="accordion-item-body-text-i2l7d81c28a3c "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(2, 2, 2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
    </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="flex"
                style="--jc:center"
              >
                
  <div class="overflow-clip" style="--w:1090px;--w-tablet:1090px;--w-mobile:1090px;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bg:transparent;--shadow:none">
    <div
      data-index="4"
      class="i2l869de404e3 gp-accordion-item overflow-hidden"
    >
      <div
        aria-hidden
        data-index="4"
        class="i2l869de404e3 gp-accordion-item-i2l869de404e3-4 flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--hvr-bgc:transparent;--c:rgb(2, 2, 2);--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-i2l869de404e3-4:hover { 
              .gp-collapsible-icon { 
                  color: undefined 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="inline-flex">
        <span
            style="--c:rgb(2, 2, 2);width:16px;height:16px"
            data-index="4"
            class="i2l869de404e3 gp-accordion-item_icon gp-collapsible-icon inline-flex items-center justify-center overflow-hidden transition-all duration-200 [&>svg]:h-auto [&>svg]:w-full"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>
          
        </div>
      <div class="flex items-center w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:130%;--size:19px;--size-tablet:18px;--size-mobile:16px;word-break:break-word"
        >
        Wann muss ich Chilis oder Paprika anpflanzen?
        </span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="i2ld1a2ce9bdd"
        data-index="4"
        class="i2l869de404e3 gp-accordion-item_body hidden"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px"
      >
        <div
      label="Block" tag="Col" type="component"
      style=""
      class="accordion_item-col-i2ld1a2ce9bdd relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="accordion-item-body-text-i2ld1a2ce9bdd "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(2, 2, 2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
    </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="flex"
                style="--jc:center"
              >
                
  <div class="overflow-clip" style="--w:1090px;--w-tablet:1090px;--w-mobile:1090px;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bg:transparent;--shadow:none">
    <div
      data-index="5"
      class="i2l869de404e3 gp-accordion-item overflow-hidden"
    >
      <div
        aria-hidden
        data-index="5"
        class="i2l869de404e3 gp-accordion-item-i2l869de404e3-5 flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--hvr-bgc:transparent;--c:rgb(2, 2, 2);--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-i2l869de404e3-5:hover { 
              .gp-collapsible-icon { 
                  color: undefined 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="inline-flex">
        <span
            style="--c:rgb(2, 2, 2);width:16px;height:16px"
            data-index="5"
            class="i2l869de404e3 gp-accordion-item_icon gp-collapsible-icon inline-flex items-center justify-center overflow-hidden transition-all duration-200 [&>svg]:h-auto [&>svg]:w-full"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>
          
        </div>
      <div class="flex items-center w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:130%;--size:19px;--size-tablet:18px;--size-mobile:16px;word-break:break-word"
        >
        Wie funktioniert das GieBen?
        </span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="i2l2d4beb8d66"
        data-index="5"
        class="i2l869de404e3 gp-accordion-item_body hidden"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px"
      >
        <div
      label="Block" tag="Col" type="component"
      style=""
      class="accordion_item-col-i2l2d4beb8d66 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="accordion-item-body-text-i2l2d4beb8d66 "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(2, 2, 2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
    </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-accordion.js" defer="defer"></script>
  
      </div>
    <div
      parentTag="Col"
        class="i2l5acda75ff6 "
        style="--ta:center;--mt:0px;--ml:0px;--mb:64px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:130%;--size:19px;--size-tablet:18px;--size-mobile:16px;--c:rgb(79, 80, 68);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        Suchst du noch weitere Infos zur laufenden Pflege, alternative Anpflanzmoglichkeiten oder wie man Chilis am besten aufbewahrt? Dann schau doch mal in unserem Blog vorbei. Hier findest du nicht nur interessante Beitrage zu allen  wichtigen CHARLy CHILI Themen, sondern auch leckere Rezepte fur deine frisch geernteten Chilis.
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-489498797903185035 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=489498797903185035&template_id=489498617816548146)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
