
  
  
      <style>
        @font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4gaVQ.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4taVQUwaEQbjB_mQ.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4kaVQUwaEQbjB_mQ.woff) format('woff');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4saVQUwaEQbjB_mQ.woff) format('woff');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4jaVQUwaEQbjB_mQ.woff) format('woff');
  unicode-range: U+0370-03FF;
}
/* hebrew */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4iaVQUwaEQbjB_mQ.woff) format('woff');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4vaVQUwaEQbjB_mQ.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4uaVQUwaEQbjB_mQ.woff) format('woff');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4gaVQUwaEQbjA.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-489506237658956939 .-rotate-90,.gps-489506237658956939 .rotate-180,.gps-489506237658956939 .rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-489506237658956939 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-489506237658956939 .relative{position:relative}.gps-489506237658956939 .mx-auto{margin-left:auto;margin-right:auto}.gps-489506237658956939 .mb-0{margin-bottom:0}.gps-489506237658956939 .block{display:block}.gps-489506237658956939 .flex{display:flex}.gps-489506237658956939 .inline-flex{display:inline-flex}.gps-489506237658956939 .grid{display:grid}.gps-489506237658956939 .hidden{display:none}.gps-489506237658956939 .w-full{width:100%}.gps-489506237658956939 .max-w-full{max-width:100%}.gps-489506237658956939 .-rotate-90{--tw-rotate:-90deg}.gps-489506237658956939 .-rotate-90,.gps-489506237658956939 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-489506237658956939 .rotate-180{--tw-rotate:180deg}.gps-489506237658956939 .rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-489506237658956939 .cursor-pointer{cursor:pointer}.gps-489506237658956939 .flex-col{flex-direction:column}.gps-489506237658956939 .items-center{align-items:center}.gps-489506237658956939 .justify-center{justify-content:center}.gps-489506237658956939 .gap-y-0{row-gap:0}.gps-489506237658956939 .overflow-hidden{overflow:hidden}.gps-489506237658956939 .overflow-clip{overflow:clip}.gps-489506237658956939 .border{border-width:1px}.gps-489506237658956939 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-489506237658956939 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-489506237658956939 .duration-200{transition-duration:.2s}.gps-489506237658956939 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-489506237658956939 .\[\&\>svg\]\:h-auto>svg{height:auto}.gps-489506237658956939 .\[\&\>svg\]\:w-full>svg{width:100%}.gps-489506237658956939 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-489506237658956939 .\[\&_p\]\:inline p{display:inline}.gps-489506237658956939 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-489506237658956939 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gysTKpbI_7"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFEFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gysTKpbI_7 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gR8Gmiwugl relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gAJT-WdFYh"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:770px;--w-tablet:770px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAJT-WdFYh mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gfJSGyZBez relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)" class="g3YlKsB4wq ">
      
    <div
      parentTag="Col"
        class="g3YlKsB4wq "
        style="--ta:center"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:0px;--lh:130%;--size:33px;--size-tablet:33px;--size-mobile:29px;--c:#340304;word-break:break-word"
        >
        <p>Frequently asked questions</p>
        </h2>
      </div>
    </div>
      </div>
    <div
      parentTag="Col"
        class="gGSthTdIox "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word"
        >
        <p>Have questions? We’re hereto help</p>
        </div>
      </div>
    </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)" class="gMLtxTIcvy ">
      
    <gp-accordion
     uid="gMLtxTIcvy"
      class="flex w-full flex-col "
      style="--gg:null"
      gp-data='{"setting":{"iconSvg":"plus","isIconPlus":true,"activeKey":1,"expanded":false,"expandItem":true,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gMLtxTIcvy","childListNumber":["0"]},"styles":{"color":{"active":"#340304","hover":"#B4B4B4","normal":"#B4B4B4"},"headerBorder":{"active":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"},"hover":{"border":"solid","borderType":"style-1","borderWidth":"1px","color":"#E0E0E0","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"normal":{"border":"solid","borderType":"style-1","borderWidth":"1px","color":"#E0E0E0","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"}},"fullWidth":{"desktop":true},"width":{"desktop":"1170px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"0px","vertical":"24px"}}},"textColor":{"active":"#340304","hover":"#340304","normal":"#340304"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":null,"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"mobile":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"24px","left":"0px","right":"0px","top":"24px","type":"custom"}},"mobile":{"padding":{"bottom":"24px","left":"0px","right":"0px","top":"24px","type":"custom"}},"tablet":{"padding":{"bottom":"24px","left":"0px","right":"0px","top":"24px","type":"custom"}}},"widthHeightSize":{"desktop":{"width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}}},"uid":"gMLtxTIcvy"}'
    >
    <div class="hidden rotate-90 -rotate-90 rotate-180"></div>
    <div
                class="flex"
                style="--jc:left"
              >
                
  <div class="overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#E0E0E0">
    <div
      data-index="0"
      class="gMLtxTIcvy gp-accordion-item overflow-hidden"
    >
      <div
        aria-hidden
        data-index="0"
        class="gMLtxTIcvy gp-accordion-item-gMLtxTIcvy-0 flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:24px;--pb:24px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:24px;--pb-tablet:24px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:24px;--pb-mobile:24px;--fd:row-reverse;--jc:space-between;gap:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--c:#340304"
      >
       <style class="accordion-style">.gp-accordion-item-gMLtxTIcvy-0:hover { 
              .gp-collapsible-icon { 
                  color: #340304 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="inline-flex">
        <span
            style="--c:#340304;width:16px;height:16px"
            data-index="0"
            class="gMLtxTIcvy gp-accordion-item_icon gp-collapsible-icon inline-flex items-center justify-center overflow-hidden transition-all duration-200 [&>svg]:h-auto [&>svg]:w-full"
          ><svg width='16' height='16' fill='currentColor' viewBox="0 0 448 512"><path fill='currentColor' d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"/></svg></span>
          
        </div>
      <div class="flex items-center w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word"
        >
        <p>01. I can’t decide between the various machines - what is the difference between them?</p>
        </span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gfuDiNwiWs"
        data-index="0"
        class="gMLtxTIcvy gp-accordion-item_body block"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style=""
      class="g22EmQCUiF relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gtmfQZRBqm "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word"
        >
        <p>All our machines deliver a variety of delicious coffee drinks, customized to your individual tastes. For detailed specifications of all of our models, please look at our comparison tool.</p>
        </div>
      </div>
    </div>
    </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="flex"
                style="--jc:left"
              >
                
  <div class="overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#E0E0E0">
    <div
      data-index="1"
      class="gMLtxTIcvy gp-accordion-item overflow-hidden"
    >
      <div
        aria-hidden
        data-index="1"
        class="gMLtxTIcvy gp-accordion-item-gMLtxTIcvy-1 flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:24px;--pb:24px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:24px;--pb-tablet:24px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:24px;--pb-mobile:24px;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-c:#340304;--c:#340304;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#E0E0E0;--hvr-bc:#E0E0E0"
      >
       <style class="accordion-style">.gp-accordion-item-gMLtxTIcvy-1:hover { 
              .gp-collapsible-icon { 
                  color: #B4B4B4 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="inline-flex">
        <span
            style="--hvr-c:#B4B4B4;--c:#B4B4B4;width:16px;height:16px"
            data-index="1"
            class="gMLtxTIcvy gp-accordion-item_icon gp-collapsible-icon rotate-90 inline-flex items-center justify-center overflow-hidden transition-all duration-200 [&>svg]:h-auto [&>svg]:w-full"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
          
        </div>
      <div class="flex items-center w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word"
        >
        <p>02. Where can I buy a Saeco coffee machine?</p>
        </span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gbOwlt2I4Z"
        data-index="1"
        class="gMLtxTIcvy gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style=""
      class="gUtLd_Lhgl relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gCE-bhiSd2 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word"
        >
        <p>Our machines are available online from Phillips and from selected retail partners.</p>
        </div>
      </div>
    </div>
    </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="flex"
                style="--jc:left"
              >
                
  <div class="overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#E0E0E0">
    <div
      data-index="2"
      class="gMLtxTIcvy gp-accordion-item overflow-hidden"
    >
      <div
        aria-hidden
        data-index="2"
        class="gMLtxTIcvy gp-accordion-item-gMLtxTIcvy-2 flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:24px;--pb:24px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:24px;--pb-tablet:24px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:24px;--pb-mobile:24px;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-c:#340304;--c:#340304;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#E0E0E0;--hvr-bc:#E0E0E0"
      >
       <style class="accordion-style">.gp-accordion-item-gMLtxTIcvy-2:hover { 
              .gp-collapsible-icon { 
                  color: #B4B4B4 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="inline-flex">
        <span
            style="--hvr-c:#B4B4B4;--c:#B4B4B4;width:16px;height:16px"
            data-index="2"
            class="gMLtxTIcvy gp-accordion-item_icon gp-collapsible-icon rotate-90 inline-flex items-center justify-center overflow-hidden transition-all duration-200 [&>svg]:h-auto [&>svg]:w-full"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
          
        </div>
      <div class="flex items-center w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word"
        >
        <p>03. Does it matter which beans I put in my Saeco machine?</p>
        </span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gR_QyLyPsL"
        data-index="2"
        class="gMLtxTIcvy gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style=""
      class="g-xmerqcZZ relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gPg6mPJpAq "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word"
        >
        <p>As coffee lovers we know that great coffee starts with great beans. But whatever beans you use, our ceramic burrs will ensure that they are ground to the consistent, precise grains needed for an excellent drink. And BeanMaestro technology (*available on Xelsis only) will even automatically adjust brewing settings to bring out the best in your choice of beans.</p>
        </div>
      </div>
    </div>
    </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="flex"
                style="--jc:left"
              >
                
  <div class="overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#E0E0E0">
    <div
      data-index="3"
      class="gMLtxTIcvy gp-accordion-item overflow-hidden"
    >
      <div
        aria-hidden
        data-index="3"
        class="gMLtxTIcvy gp-accordion-item-gMLtxTIcvy-3 flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:24px;--pb:24px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:24px;--pb-tablet:24px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:24px;--pb-mobile:24px;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-c:#340304;--c:#340304;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#E0E0E0;--hvr-bc:#E0E0E0"
      >
       <style class="accordion-style">.gp-accordion-item-gMLtxTIcvy-3:hover { 
              .gp-collapsible-icon { 
                  color: #B4B4B4 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="inline-flex">
        <span
            style="--hvr-c:#B4B4B4;--c:#B4B4B4;width:16px;height:16px"
            data-index="3"
            class="gMLtxTIcvy gp-accordion-item_icon gp-collapsible-icon rotate-90 inline-flex items-center justify-center overflow-hidden transition-all duration-200 [&>svg]:h-auto [&>svg]:w-full"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
          
        </div>
      <div class="flex items-center w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word"
        >
        <p>04. Are Saeco machines easy to clean?</p>
        </span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gIOhoup-9G"
        data-index="3"
        class="gMLtxTIcvy gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px"
      >
        <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="g5Fu4owSAO relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gAP_E9vPyJ "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word"
        >
        <p>Saeco machines are designed to make things as simple as possible to enjoy the perfect cup of coffee. Aquaclean filters reduce the build up of scale that can damage your machine and HygieSteam technology cleans milk deposits from the steamer. To keep your machine brewing great coffee cup after cup, only use Saeco approved cleaning products and follow the regular cleaning scheduled outlined in your user manual.</p>
        </div>
      </div>
    </div>
    </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="flex"
                style="--jc:left"
              >
                
  <div class="overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#E0E0E0">
    <div
      data-index="4"
      class="gMLtxTIcvy gp-accordion-item overflow-hidden"
    >
      <div
        aria-hidden
        data-index="4"
        class="gMLtxTIcvy gp-accordion-item-gMLtxTIcvy-4 flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:24px;--pb:24px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:24px;--pb-tablet:24px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:24px;--pb-mobile:24px;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-c:#340304;--c:#340304;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#E0E0E0;--hvr-bc:#E0E0E0"
      >
       <style class="accordion-style">.gp-accordion-item-gMLtxTIcvy-4:hover { 
              .gp-collapsible-icon { 
                  color: #B4B4B4 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="inline-flex">
        <span
            style="--hvr-c:#B4B4B4;--c:#B4B4B4;width:16px;height:16px"
            data-index="4"
            class="gMLtxTIcvy gp-accordion-item_icon gp-collapsible-icon rotate-90 inline-flex items-center justify-center overflow-hidden transition-all duration-200 [&>svg]:h-auto [&>svg]:w-full"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
          
        </div>
      <div class="flex items-center w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word"
        >
        <p>05. What happens if I have a problem with my coffee machine?</p>
        </span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="g8fVy_CAoh"
        data-index="4"
        class="gMLtxTIcvy gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px"
      >
        <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gzt1C4_4mr relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gVgLuxifv7 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word"
        >
        <p>Our machines are built from the finest materials in our Italian workshops, but we know that sometimes problems do occur. For troubleshooting particular issues please visit our support pages and feel free to contact us here. Of course, our machines are all guaranteed for two years - please visit your Saeco retailer for information about service and warranty.</p>
        </div>
      </div>
    </div>
    </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-accordion.js" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 14",
    "tag": "section",
    "class": "gps-489506237658956939 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=489506237658956939&template_id=489506193853645963)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
