
  
  
      <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:600,700,400&display=swap');
      </style>
    
  <style>
    .gps-489506237155705995 .pointer-events-none{pointer-events:none}.gps-489506237155705995 .pointer-events-auto{pointer-events:auto}.gps-489506237155705995 .relative{position:relative}.gps-489506237155705995 .mx-auto{margin-left:auto;margin-right:auto}.gps-489506237155705995 .mb-0{margin-bottom:0}.gps-489506237155705995 .inline-block{display:inline-block}.gps-489506237155705995 .flex{display:flex}.gps-489506237155705995 .inline-flex{display:inline-flex}.gps-489506237155705995 .grid{display:grid}.gps-489506237155705995 .h-full{height:100%}.gps-489506237155705995 .w-full{width:100%}.gps-489506237155705995 .max-w-full{max-width:100%}.gps-489506237155705995 .flex-col{flex-direction:column}.gps-489506237155705995 .items-center{align-items:center}.gps-489506237155705995 .gap-y-0{row-gap:0}.gps-489506237155705995 .overflow-hidden{overflow:hidden}.gps-489506237155705995 .align-middle{vertical-align:middle}.gps-489506237155705995 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-489506237155705995 .duration-200{transition-duration:.2s}.gps-489506237155705995 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-489506237155705995 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-489506237155705995 .\[\&_p\]\:inline p{display:inline}.gps-489506237155705995 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-489506237155705995 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g4ix6mUHm0"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFEFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4ix6mUHm0 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glqXT_KWpW relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gogWmGanQm"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--mb-mobile:0px;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-m);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-m);--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gogWmGanQm mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gFqt9DwHCi relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g8kgv02Eo6"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:0px;--pt-mobile:0px;--pb-mobile:var(--g-s-l);--mb-tablet:0px;--pb-tablet:var(--g-s-l);--cg:30px;--cg-mobile:14px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8kgv02Eo6 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gt-5ZA1A_M relative flex flex-col"
    >
      
    
      
      
    <div
      uid="g42F8d4YYq"
       style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center;--ta-mobile:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="inline-flex flex-col"
        style="--rg:var(--g-s-l)"
        >
        
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:24px;--cg-mobile:10px"
    >
    <div
      
      style=""
      class="gMo6gowL0j relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image ge7c12DGJF"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;--w:42px;--w-tablet:42px;--w-mobile:32px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/c629cc4b-12e8-4c34-abe9-042e16590f7c/-/format/auto/" data-srcset="https://ucarecdn.com/c629cc4b-12e8-4c34-abe9-042e16590f7c/-/format/auto/ 768w,https://ucarecdn.com/c629cc4b-12e8-4c34-abe9-042e16590f7c/-/format/auto/ 1024w,https://ucarecdn.com/c629cc4b-12e8-4c34-abe9-042e16590f7c/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="42" height="42" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:42/42;--aspect-tablet:42/42;--aspect-mobile:42/42;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div><div
      
      style=""
      class="gHhM95YDQJ relative flex flex-col w-full"
    >
      
    <div
      parentTag="Col"
        class="gntp6nUXfk "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xs)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#340304;word-break:break-word"
        >
        <p>Free Delivery</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gVUUwU0o-P "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#575757;word-break:break-word"
        >
        <p>from $250</p>
        </div>
      </div>
    </div>
    </div>
  </li>
      </ul>
  </div>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggh6B_c3AH relative flex flex-col"
    >
      
    
      
      
    <div
      uid="gAhzmpQjBM"
       style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center;--ta-mobile:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="inline-flex flex-col"
        style="--rg:var(--g-s-l)"
        >
        
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:24px;--cg-mobile:10px"
    >
    <div
      
      style=""
      class="g9DiJVZMHc relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gF4zKKdSMR"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;--w:42px;--w-tablet:42px;--w-mobile:32px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/b1f07102-973e-4207-98dd-2d57fe1d5001/-/format/auto/" data-srcset="https://ucarecdn.com/b1f07102-973e-4207-98dd-2d57fe1d5001/-/format/auto/ 768w,https://ucarecdn.com/b1f07102-973e-4207-98dd-2d57fe1d5001/-/format/auto/ 1024w,https://ucarecdn.com/b1f07102-973e-4207-98dd-2d57fe1d5001/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="40" height="40" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:40/40;--aspect-tablet:40/40;--aspect-mobile:40/40;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div><div
      
      style=""
      class="gzsDh1PkGS relative flex flex-col w-full"
    >
      
    <div
      parentTag="Col"
        class="giBSNlsXse "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xs)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#340304;word-break:break-word"
        >
        <p>Full Refund</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gXVd7RP-nq "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#575757;word-break:break-word"
        >
        <p>For free return</p>
        </div>
      </div>
    </div>
    </div>
  </li>
      </ul>
  </div>
  
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVKmR9s9Hw relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gt2ZT0wm7z"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:0px;--pt-mobile:var(--g-s-l);--mb-tablet:0px;--pt-tablet:var(--g-s-l);--cg:30px;--cg-mobile:14px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gt2ZT0wm7z mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gl5XQRIcAg relative flex flex-col"
    >
      
    
      
      
    <div
      uid="gHiogrgwum"
       style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center;--ta-mobile:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="inline-flex flex-col"
        style="--rg:var(--g-s-l)"
        >
        
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:24px;--cg-mobile:10px"
    >
    <div
      
      style=""
      class="gIzt-civKt relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image glr64cQmqY"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;--w:42px;--w-tablet:42px;--w-mobile:32px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/aa628666-960a-48b2-9910-a95f31a7a644/-/format/auto/" data-srcset="https://ucarecdn.com/aa628666-960a-48b2-9910-a95f31a7a644/-/format/auto/ 768w,https://ucarecdn.com/aa628666-960a-48b2-9910-a95f31a7a644/-/format/auto/ 1024w,https://ucarecdn.com/aa628666-960a-48b2-9910-a95f31a7a644/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="42" height="42" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:42/42;--aspect-tablet:42/42;--aspect-mobile:42/42;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div><div
      
      style=""
      class="g3ZH7_0t42 relative flex flex-col w-full"
    >
      
    <div
      parentTag="Col"
        class="gBr-TR_UWn "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xs)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#340304;word-break:break-word"
        >
        <p>Online Payment</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gJWY5Vz6Wj "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#575757;word-break:break-word"
        >
        <p>Secure Sytem</p>
        </div>
      </div>
    </div>
    </div>
  </li>
      </ul>
  </div>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVQX8AJkYt relative flex flex-col"
    >
      
    
      
      
    <div
      uid="gDenhpUnNl"
       style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center;--ta-mobile:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="inline-flex flex-col"
        style="--rg:var(--g-s-l)"
        >
        
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:24px;--cg-mobile:10px"
    >
    <div
      
      style=""
      class="gZafdxrn1N relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gkATI622YL"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;--w:42px;--w-tablet:42px;--w-mobile:32px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/d8d6a93f-7b51-4f2b-9eb9-80fffac69631/-/format/auto/" data-srcset="https://ucarecdn.com/d8d6a93f-7b51-4f2b-9eb9-80fffac69631/-/format/auto/ 768w,https://ucarecdn.com/d8d6a93f-7b51-4f2b-9eb9-80fffac69631/-/format/auto/ 1024w,https://ucarecdn.com/d8d6a93f-7b51-4f2b-9eb9-80fffac69631/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="40" height="40" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:40/40;--aspect-tablet:40/40;--aspect-mobile:40/40;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div><div
      
      style=""
      class="gCi_wSssHZ relative flex flex-col w-full"
    >
      
    <div
      parentTag="Col"
        class="gUMMpc36j2 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xs)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#340304;word-break:break-word"
        >
        <p>Online Support</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gWj2rWiiWt "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#575757;word-break:break-word"
        >
        <p>24/7 Free Support</p>
        </div>
      </div>
    </div>
    </div>
  </li>
      </ul>
  </div>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-489506237155705995 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=489506237155705995&template_id=489506193853645963)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
