<div className="w-full h-40 bg-blue-400">
  <h1>hello world</h1>
</div>

{% schema %}
{
  "name": "Subfooter",
  "class": "shopify-section--subfooter",
  "presets": [
    {
      "name": "Text with icons"
    }
  ]
}
{% endschema %}
